<div class="row">
    <div class="col-6">
        <app-donuts
        [title]="titleOne"
        [labels]="labelsOne"
        [data]="dataOne"
        ></app-donuts>
    </div>
    <div class="col-6">
        <app-donuts
        [title]="titleTwo"
        [labels]="labelsTwo"
        [data]="dataTwo"
        ></app-donuts>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-donuts
        [title]="titleThree"
        [labels]="labelsThree"
        [data]="dataThree"
        ></app-donuts>
    </div>
    <div class="col-6">
        <app-donuts
        [title]="titleFour"
        [labels]="labelsFour"
        [data]="dataFour"
        ></app-donuts>
    </div>
</div>